<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>

	<session-factory>
	
		<mapping class= "com.c3.cms.business.model.Business"/>
		<mapping class= "com.c3.cms.product.model.Product"/>
		<mapping class= "com.c3.cms.product.model.ProductImage"/>
		
	</session-factory>
</hibernate-configuration>
